/* $breakpoint-phone: 576px; //or 480? auto
$breakpoint-tablet: 768px; //750
$breakpoint-laptop: 992px; //960
$breakpoint-desktop: 1200px; //1140 */
:root {
    --c1:#e9ecf2;
    --c2:#a3b2bf;
    --c3:#10261e;
    --c4:#2e594a;
    --c5:#3d735f;
  }
  
  $theme-black: #111111;
  /*
  Screen sizes:
    xs: 0 - 480px;
    sm: 480.1px - 768px;
    md: 768.1px - 992px;
    lg: 992.1ps - 1200px;
    xl: 1200.1px and above
  */
  $breakpoints: 480px, 768px, 992px, 1200px;
  @mixin screen($width, $type: 'only') {
    $index: 0;
    @if $width == 'xs' {
        $index: 1;
    } @else if $width == 'sm' {
        $index: 2;
    } @else if $width == 'md' {
        $index: 3;
    } @else if $width == 'lg' {
        $index: 4;
    }  @else if $width == 'xl' {
        $index: 5
    }
    @if $index != 0 {
        @if $type == 'only' {
            @if $width == 'xs' {
                @media only screen and (max-width: nth($breakpoints, $index)) {
                    @content;
                }
            } @else if $width == 'xl' {
                @media only screen and (min-width: nth($breakpoints, $index - 1)) {
                    @content;
                }
            } @else {
                @media only screen and (min-width: nth($breakpoints, $index - 1) + 0.001)
                and (max-width: nth($breakpoints, $index)) {
                    @content;
                }
            }
        } @else if $type == 'and-below' {
            @if $width != 'xl' {
                @media only screen and (max-width: nth($breakpoints, $index)) {
                    @content;
                }
            } @else {
                @content;
            }
        } @else if $type == 'and-above' {
            @if $width != 'xs' {
                @media only screen and (min-width: nth($breakpoints, $index - 1) + 0.001) {
                    @content;
                }
            } @else {
                @content;
            }
        } @else {
            @content;
        }
    } @else {
        @content;
    }
  }
  @mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
  }
  @mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
  }
  @mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
  }
  // Enable hardware acceleration
  // Ref: https://engageinteractive.co.uk/blog/top-10-scss-mixins
  @mixin hardware($backface: true, $perspective: 1000) {
    @if $backface {
        backface-visibility: hidden;
    }
    perspective: $perspective;
  }
  @mixin absolute-position ($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
  
  /* mobile first framework*/
  .flexbox {
    display: flex;
  }
  .flexbox-inline {
    display: inline-flex;
  }
  .flexbox::before,
  .flexbox::after,
  .flexbox-inline::before,
  .flexbox-inline::after {
    display: none;
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
  @include screen('sm') {
    .container {
        padding: 0 15px;
    }
  }
  @include screen('md') {
    .container {
        max-width: 750px;
        padding: 0 8px;
    }
  }
  @include screen('lg') {
    .container {
        max-width: 960px;
        padding: 0 12px;
    }
  }
  @include screen('xl') {
    .container {
        max-width: 1200px;
        padding: 0 16px;
    }
  }
  
  a {
    text-decoration: none !important;
    color: $theme-black;
    &:hover{
        color: #174e96 !important;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }

  /* header logo */
.header {
  max-width: 1200px;
  margin: 0 auto;
  .header-logo {
    height: 100px;
    border-bottom: 3px solid #111111;
    justify-content: space-between;
    align-items: center;
    display: flex;
    .fa-envelope {
      background: black;
      padding: 0 20px;
      line-height: 40px;
      font-weight: 700;
      letter-spacing: 1px;
      img {
        height: 60px;
        margin: 0 auto;
      }
      ::before {
        content: "♥";
        color: white;
      }
      a {
        color: white;
      }
    }
  }
}
/* menu */
ul {
  margin: 0;
  padding: 0;
  li {
    flex: 1 1 auto;
    list-style: none;
    font-size: 15px;
    font-weight: 600;
    a {
      line-height: 54px;
      display: block;
      text-align: center;
    }
  }
}  
/* header post */
.header-post{
  border-top: 3px solid #e8e8e8;
  border-bottom: 3px solid #e8e8e8;
  padding: 20px 0;
  .wrap {
    margin-top: 0;
    margin-left: 10px;
    .title {
      margin-top: 0;
      margin-bottom: 10px;
    }
    .date {
      font-size: 11px;
      ::before {
        content: "♥";
      }
    }
  }
}
 /* container flexbox section-top */
.thumb {
  position: relative;
  display: inline-block;
  .link {
    position: absolute;
  }
  span {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background-color: #111111;
    padding: 4px;
    a {
      color: white;
      font-size: 11px;
      letter-spacing: 1.5px;
    }
  }
}
/* left */
.left {
  width: calc(100%/1.5);
  flex-shrink: 0;
  .post-top {
    .thumb {
      position: relative;
      display: inline-block;
      .link {
        position: absolute;
      }
      span {
        position: absolute;
        left: 10px;
        bottom: 10px;
        background-color: #111111;
        padding: 4px;
        a {
          color: white;
          font-size: 11px;
          letter-spacing: 1.5px;
        }
      }
    }
    h2 {
      font-size: 34px;
      margin-top: 34px;
      margin-bottom: 8px;
    }
    .info {
      color: #808080;
      font-size: 12px;
      font-family: "Work Sans";
      text-transform: uppercase;
    }
    .abstract {
      font-family: Droid Serif;
      margin-top: 22px;
      margin-bottom: 26px;
      color: #333333;
      text-rendering: optimizeLegibility;
      line-height: 24px;
      font-size: 15px;
      a {
        background: #111;
        color: #fff !important;
        padding: 4px 16px;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-size: 11px;
        margin-top: 15px;
      }
    }
  }
  .post-list {
    border-top: 1px solid #eee;
    flex-wrap: wrap;
    padding-top: 22px;
    padding-bottom: 12px;
    a {
      padding-left: 18px;
      font-family: Libre Baskerville;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 5px;
      line-height: 22px;
    }
  }
  .post-list-slide {
    border-top: 1px solid #eee;
    padding-top: 32px;
    padding-bottom: 16px;
    .post {
      position: relative;
      padding-right: 30px;
      flex: 1 1 auto;
      h4 {
        font-size: 16px;
        font-weight: 700;
        margin: 12px 0 8px;
        font-family: Libre Baskerville;
      }
      .info {
        color: #808080;
        font-size: 12px;
        font-family: "Work Sans";
        text-transform: uppercase;
      }
      .link-cate {
        background: #111;
        color: #fff !important;
        padding: 4px 16px;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-size: 11px;
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  } 
  .post-list-card {
    border-top: 1px solid #eee;
    margin-top: 24px;
    .post {
      padding-bottom: 30px;
      margin-top: 20px;
    }
    .thumb {
      flex-shrink: 0;
      max-width: 40%;
      padding-right: 30px;
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
    }
    .other {
      .title {
        margin-top: 0;
        font-family: "Libre Baskerville";
      }
      .info {
        color: #808080;
        font-size: 12px;
        font-family: "Work Sans";
        text-transform: uppercase;
      }
      .abstract {
        font-family: "Droid Serif";
        color: #333333;
        line-height: 24px;
        font-size: 15px;
      }
    }
  }
}
/* right */
.right {
  width: calc(100%/3);
  padding-left: 50px;
  .post-list-popular {
    .list-title {
      height: 30px !important;
      line-height: 30px !important;
      font-family: "Work Sans";
      font-size: 18px;
      color: #111111;
      font-weight: 700;
      padding-bottom: 1rem;
    }
    .post-primary {
      padding-bottom: 24px;
      margin-bottom: 12px;
      border-bottom: 3px solid #eee;
      .title {
        padding-top: 15px;
        padding-bottom: 5px;
        display: flex;
        a {
          display: block;
          color: #111111;
          font-family: "Libre Baskerville";
          font-size: 18px;
          font-weight: 700;
          letter-spacing: -0.36px;
          line-height: 26px;
          position: relative;
        }
        .num {
          font-size: 36px;
          border-left: 1px solid #eee;
          color: #d7d7d7;
        }
      }
      .info {
        color: #808080;
        font-size: 12px;
        font-family: "Work Sans";
        text-transform: uppercase;
      }

    }
    .post {
      margin: 10px auto;
      .title {
        display: flex;
        a {
          padding-left: 20px;
          letter-spacing: -0.28px;
          line-height: 24px;
          font-family: "Libre Baskerville";
          font-size: 15px;
          margin-bottom: 5px;
        }
        .num {
          text-align: center;
          width: 24px;
          height: 24px;
          line-height: 24px;
          font-style: italic;
          background: #eee;
          padding: 10px;
          border-radius: 100%;
        }
      }
      .info {
        color: #808080;
        font-size: 12px;
        font-family: "Work Sans";
        text-transform: uppercase;
        padding-left: 60px;
      }
    }
  }
  .post-list-suggest {
    padding-top: 30px;
    .list-title {
      font-family: "Work Sans";
      font-size: 18px;
      font-weight: 700;
      height: 30px;
      line-height: 30px;
      padding-bottom: 15px;
      display: block;
    }
    .post-primary {
      .thumb {
        padding-bottom: 15px;
      }
      .title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.4;
        margin: 0 0 8px;
        font-family: "Libre Baskerville";
        letter-spacing: -0.32px;
      }
      .info {
        color: #808080;
        font-size: 12px;
        font-family: "Work Sans";
        text-transform: uppercase;
      }
      .abstract {
        font-family: "Droid Serif";
        font-size: 15px;
        line-height: 24px;
      }
    }
    .post {
      padding-bottom: 25px;
      .thumb {
        flex-shrink: 0;
        max-width: 40%;
        padding-right: 15px;
      }
      .title {
        font-size: 14px;
        font-weight: normal;
        line-height: 21px;
        margin-bottom: 4px;
        margin: 0 0 5px;
        font-family: "Libre Baskerville";
      }
      .info {
        color: #808080;
        font-size: 12px;
        font-family: "Work Sans";
        text-transform: uppercase;
      }
    }
    
  }
}
